<div class="d-flex flex-column flex-md-row align-items-center p-3 mb-4 justify-content-center;">
  <div class="input-group justify-content-center">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1" 
      style="background-color: #212529; border-top-right-radius: 0; border-bottom-right-radius: 0;">
        <fa-icon [icon]="faSearch" style="color: #515D66"></fa-icon>
      </span>
    </div>
    <input type="text" class="form-control" style="max-width: 60%"
    placeholder="Procurar por nome do livro" aria-label="Username" aria-describedby="basic-addon1">
  </div>
</div>