<div role="navigation" class="d-flex flex-column flex-md-row align-items-center p-3 mb-4 border-bottom bg-dark">
    <a class="d-flex align-items-center text-dark text-decoration-none">
        <app-header></app-header>    
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <button class="btn btn-outline text-white mx-2" type="button">Todos</button>

        <div ngbDropdown class="dropdown mx-2">
            <button ngbDropdownToggle class="btn btn-outline dropdown-toggle text-white" type="button"
             data-bs-toggle="dropdown" aria-expanded="false">Categorias</button>
            <ul ngbDropdownMenu class="dropdown-menu" 
            style="--bs-dropdown-border-color: #fff; --bs-dropdown-bg: #1a1e21; padding: 10px;">
              <li *ngFor="let check of checkboxCategory" class="form-check form-switch"
              style="margin-top: 5px">
                <input type="{{check.type}}" class="form-check-input" id="{{check.id}}">
                <label class="form-check-label" style="color: white" for="{{check.id}}">
                  {{check.category}}
                </label>
              </li>
            </ul>
          </div>

          <div ngbDropdown class="dropdown mx-2">
            <button ngbDropdownToggle class="btn btn-outline dropdown-toggle text-white" type="button" 
            data-bs-toggle="dropdown" aria-expanded="false">Preço</button>
            <ul ngbDropdownMenu class="dropdown-menu">
              <li><a class="dropdown-item" href="#">R$5-20</a></li>
              <li><a class="dropdown-item" href="#">R$21-60</a></li>
              <li><a class="dropdown-item" href="#">R$61-100</a></li>
              <li><a class="dropdown-item" href="#">R$101-150</a></li>
            </ul>
          </div>
    </nav>

    <div ngbDropdown class="dropdown mx-5" id="mobile">
        <button ngbDropdownToggle class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span style="font-weight: bold">Comprar</span> &nbsp;<fa-icon [icon]="faShoppingCart" class="text-white"></fa-icon>
        </button>
        <ul ngbDropdownMenu class="dropdown-menu" style="--bs-dropdown-min-width: 20rem;">
          <li class=" dropdown-item d-flex justify-content-between align-items-center">
            Livro 1
            <button type="button" class="btn btn-danger"><fa-icon [icon]="faTimes" class="text-white"></fa-icon></button>
          </li>
          <li class="dropdown-item d-flex justify-content-between align-items-center">
            Livro 2
            <button type="button" class="btn btn-danger"><fa-icon [icon]="faTimes" class="text-white"></fa-icon></button>
          </li>
          <li class="dropdown-item d-flex justify-content-between align-items-center">
            Livro 3
            <button type="button" class="btn btn-danger"><fa-icon [icon]="faTimes" class="text-white"></fa-icon></button>
          </li>
        </ul>
      </div>
    
</div>